<section id = "Intro">
  <div class="container"></div>
</section>
<section id = "FAQs">
  <div class="container"></div>
</section>
<section id = "Question">
  <div class="container">
    <input type="text" class="form-control input-hg" placeholder="Huge" />
    <input type="text" class="form-control input-lg" placeholder="Large" />
    <input type="text" class="form-control" placeholder="Default" />
    <input type="text" class="form-control input-sm" placeholder="Small" />
  </div>
</section>
