<div class="center">
  <section id = "Intro">
    <div class="container"></div>
  </section>
  <section id = "FAQs">
    <div class="container"></div>
  </section>
  <section id = "Question">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Error" />
        </div>

        <!-- Warning state -->
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Error" />
        </div>

        <!-- Success state -->
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Error" />
        </div>

        <!-- Disabled state -->
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Disabled" disabled />
        </div>
      </div>
      </div>
    </div>
  </section>
</div>
