<footer class="page-footer center-on-small-only primary-color-dark">
    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
              <div class="container center">
              </br>
                <%= image_tag("logo.png",class: "logo-small") %></br>
                <h10>Capriole Education Service, INC</h10>
              </br>
              </div>
            </div>

            <div class="col-md-2">
            </br>
                <ul>
                    <li><a href="#!">About Us</a></li>
                    <li><a href="#!">Parents</a></li>
                    <li><a href="#!">FAQs</a></li>
                </ul>
            </div>

            <!--Third column-->
            <div class="col-md-2">
              </br>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>

            <!--Fourth column-->
            <div class="col-md-2">
              </br>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
