$link-color: #ffa31a;
$brand-primary: #ffa31a;
$input-border-focus: #ffa31a;
$nav-link-hover-bg: #ffa31a;
$navbar-default-link-color: #000000;
$navbar-default-link-hover-color: #ffa31a;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

.navbar{
  font-size: 20px;
  border: 0px;
  color: #000000;
  background-color: rgba(255,255,255,0.8);
}

.carousel,
.item,
.active {
    height: 400px;
}

.thumbnail img{
  width: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.logo-small {
  width: 48px;
  height: 58px;
  margin-left: 20px;
  margin-right: 20px;
}

footer{
  background: #44423d;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

body{
  font-family: 'Oswald', sans-serif;
}

.btn-toolbar.pull-right{
  margin-right: 15px;
}
.content{
  margin-top: 80px;
}
