
  <!-- jQuery -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="../js/creative.min.js"></script>
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="css/creative.min.css" rel="stylesheet">

  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">Architecture Portfolio Workshop at LAIAD, Los Angeles</h1>
        <hr>

        <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
      </div>
    </div>
  </header>

  <section class="bg-primary section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">The Los Angeles Institute of Architecture and Design (LAIAD)</h2>
          <hr class="light">
          <p class="text-faded">The Los Angeles Institute of Architecture and Design (LAIAD) was founded in 2001 to provide an alternative way for students to begin their architecture or design educational process.  The LAIAD mission is to provide an unsurpassed and affordable education for a small group of talented and motivated students who will be prepared to excel at the schools to which they transfer. 
            We are proud to partner with LAIAD to give international high school and college students an opportunity to building a strong project put in their portfolio. You will also develop and enhance your artistic and creative skills with prominent instructors in LAIAD. For students applying to the undergraduate and graduate architecture program, a quality portfolio is essential for admission. Summer portfolio workshop at LAIAD is an intensive and immersive four weeks hands-on architecture design program.
          </p>
          <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
        </div>
      </div>
    </div>
  </section>

  <section id="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Our Workshops</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 text-center">
          <h3>Summer Workshop I – High school students</h3>
          <br>
          <p align="left">
            Program: Day and Overnight<br>
            Date: July 17 – August 13, 2017<br>
            Location: LAIAD<br>
            Specialized Courses:<br>
            -	Design studio,<br>
            -	2D graphic design,<br>
            -	3D modeling and rendering in SketchUp.<br>
            Field Trips:<br>
            -	Appreciation of some neat building in LA and meets the architect of that building.<br>
            -	Famous museum trip<br>
            Activities:<br>
            - Santa Monica, Venice Beach, Hollywood Walk of Fame, Griffith Observatory, Little Tokyo, Disney world, Universal Studio Hollywood.
          </p>

        </div>
        <div class="col-lg-6 col-md-12 text-center">
          <h3>Summer Workshop II – College students</h3>
          <br>
          <p align="left">
            Program: Day and Overnight<br>
            Date: July 30 – August 26, 2017<br>
            Location: LAIAD<br>
            Specialized Courses:<br>
            -	Design studio, <br>
            -	2D graphic design, <br>
            -	3D modeling and rendering in Rhino, Grasshopper.<br>
            Field Trips:<br>
            -	Appreciation of some neat building in LA and meets the architect of that building. <br>
            -	Famous museum trip<br>
            Activities:<br>
            - LA popular sights: Santa Monica, Venice Beach, Hollywood Walk of Fame, Griffith Observatory, Little Tokyo, Disney world, Universal Studio.<br>

          </p>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Services</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
            <h3>Insurance</h3>
            <p class="text-muted">We provide premium travel insurance for students, including health coverage.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-graduation-cap text-primary sr-icons"></i>
            <h3>Education</h3>
            <p class="text-muted">You will attend four weeks class throughout the program.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-bus text-primary sr-icons"></i>
            <h3>Transportation</h3>
            <p class="text-muted">We use a professional bus company for camp activities, including airport pick up and drop off.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-home text-primary sr-icons"></i>
            <h3>Housing</h3>
            <p class="text-muted">Students will stay with an American host family, at a private apartment with other campers, or in University residences.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-cutlery text-primary sr-icons"></i>
            <h3>Meal</h3>
            <p class="text-muted">For overnight program, we provide all meals, everyday – breakfast, lunch, and dinner.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-bicycle text-primary sr-icons"></i>
            <h3>Activities</h3>
            <p class="text-muted">All activities and outings are included in the tuition fees. No hidden fees here!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-file-text text-primary sr-icons"></i>
            <h3>Visa</h3>
            <p class="text-muted">We will provide the essential documents and give advice on the application process.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-phone text-primary sr-icons"></i>
            <h3>Support</h3>
            <p class="text-muted">All camp directors have an emergency line at which parents can reach them 24/7</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="no-padding section" id="portfolio">
    <div class="container-fluid">
      <div class="row no-gutter popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <a href="portfolio/fullsize/1.jpg" class="portfolio-box">
            <img src="portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="portfolio/fullsize/2.jpg" class="portfolio-box">
            <img src="portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="portfolio/fullsize/3.jpg" class="portfolio-box">
            <img src="portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="portfolio/fullsize/4.jpg" class="portfolio-box">
            <img src="portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="portfolio/fullsize/5.png" class="portfolio-box">
            <img src="portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="portfolio/fullsize/6.png" class="portfolio-box">
            <img src="portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
